.topchart {
  width: 100%;
  height: 100%;
  background-color: #4B4B49;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tittle {
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

.column-name {
  width: 40%;
  color: #69B518;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #69B518;
  margin: 0 10px;
}

.mat-list-item {
  width: 230px;
  font-size: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mat-list-base {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.user-name {
  display: flex;
  align-items: flex-start;
  margin: 5px;
}

.list-content

.mat-list-base .mat-list-item .mat-list-avatar {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-list-base {
  display: flex;
  flex-direction: column;
}

.user-list{
  .mat-list-item {
    height: 40px;

    .mat-list-avatar {
      width: 30px;
      height: 30px;
    }
  }

  .list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .list-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}

.chart-list{
  .mat-list-item {
    height: 40px;
  }

}


.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  width: 100%;

}

.main-content {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 11px;
}

.mat-list-item {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart {
  height: 15px;
}

.all-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chart-block {
  width: 55%;
}

.xp {
  line-height: 30px;
}