.topchart {
  width: 100%;
  height: 100%;
  background-color: #4B4B49;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 11px;

  .tittle {
    text-align: left;
    font-size: 12px;
    padding: 10px;
  }

  .column-name {
    width: 45%;
    color: #69B518;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #69B518;
    margin: 0 10px;
  }
}

.user-name {
  display: flex;
  align-items: flex-start;
  margin: 5px;
}

.user-list {
  .avatar {
    width: 30px;
    height: 30px;
  }

  .xp {
    line-height: 30px;
  }

  .list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .list-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}

.main-content {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chart-block {
  width: 55%;

  .chart {
    height: 15px;
  }
}
