.сhange-password {
  padding: 15px 10px;
}

.change-password-content {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .arrow-back {
      cursor: pointer;
    }
  }

  .button-block {
    background-color: #69B518;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
    margin-bottom: -15px;
  }
}

.change-password-form {
  display: flex;
  flex-direction: column;
  background-color: #4B4B49;
  border-radius: 3%;
  padding: 15px;
}
