<div class="change-password">
  <div mat-dialog-content class="change-password-content">
    <div class="header">
      <mat-icon mat-dialog-close class="arrow-back">arrow_back</mat-icon>

      <h3 mat-dialog-title>Password change</h3>
    </div>

    <form class="change-password-form" [formGroup]="changeForm">
      <mat-form-field appearance="standard">
        <mat-label>OLD PASSWORD</mat-label>

        <input matInput formControlName="oldPassword">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>NEW PASSWORD</mat-label>

        <input matInput formControlName="newPassword">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>CONFIRM PASSWORD</mat-label>

        <input matInput formControlName="confirmPassword">
      </mat-form-field>

      <div class="button-block">
        <button mat-button class="button-save" [disabled]="changeForm?.invalid">SAVE CHANGES</button>
      </div>
    </form>
  </div>
</div>
