<div class="request-achievement">

  <button mat-button mat-dialog-close class="close-button">
    <mat-icon class="icon-close">close</mat-icon>
  </button>

  <h3 mat-dialog-title>Please, leave a message and your achievement will be assigned soon</h3>
  <div mat-dialog-content class="request-achievement-content">
    <form class="request-form" [formGroup]="inputForm">

      <mat-form-field appearance="standard">
        <mat-label>Achievement</mat-label>
        <mat-select formControlName="achievement">
          <mat-option *ngFor="let achievement of achievements" value="achievement.name">{{achievement.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Your message</mat-label>
        <textarea matInput formControlName="message" required></textarea>
      </mat-form-field>

      <div class="button-block">
        <button mat-button class="button-send" (click)="submit()" [disabled]="inputForm.invalid">Send</button>
      </div>
    </form>
  </div>
</div>
