.say-thanks-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5px 0;
}

.button-say-thanks {
    width: max-content;
    background-color: #69B518;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
    width: 100%;
  }

.say-thanks {
  .close-button {
    position: absolute;
    top: 220px;
    right: 490px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
  }
}
