<div class="full-list-achievements">
  <div class="title">
    <span>FULL LIST OF ACHIEVEMENTS</span>
  </div>

  <div class="main-content">
    <div class="content-titles">
      <span class="achievement-title">Achievement</span>
      <span class="exp-title">EXP points</span>
      <span class="date-title"><span class="date-margin">Date</span></span>
    </div>

    <div class="content">
      <mat-list>
        <mat-list-item *ngFor="let achievement of achievements">

          <div class="list-item">

            <div class="achievement-title">
              <img class="achievement-pic" [src]="achievement.pic" alt="Achievement avatar" />
              <span class="achievement-name">{{ achievement.name }}</span>
            </div>

            <span class="xp"> + {{ achievement.xp }} XP</span>

            <span class="date">{{ achievement.dateEvent | differenceInTime }}</span>
          </div>

        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
