<mat-grid-list cols="3" [gutterSize]="'15px'" rowHeight="300px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-last-achievements class="page-block"></app-last-achievements>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-total-achievements class="page-block"></app-total-achievements>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-user class="page-block"></app-user>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <app-full-list-achievements class="page-block"></app-full-list-achievements>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-thank-you class="page-block"></app-thank-you>
  </mat-grid-tile>
</mat-grid-list>
