.greetings {
  height: 100%;
  width: 100%;
}

.exoft-achievements {
  height: 100%;
  width: 100%;
}

.personal-achievements {
  height: 100%;
  width: 100%;
}

.thank-you {
  height: 100%;
  width: 100%;
}

.top-chart {
  height: 100%;
  width: 100%;
}

.badges {
  height: 100%;
  width: 100%;
}

.challenges {
  height: 100%;
  width: 100%;
}
